<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello World!</title>
  <link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/stylesheets/style.css">
  <script src="http://localhost:35588/socket.io/socket.io.js"></script>
  <script src="../assets/scripts/main.js"></script>
</head>
<body>
  <div class="container-fluid fill-height">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-xs-6">
        <div class="text-center">
          <span class="points" id="aPoints">0</span>
        </div>
        <div class="text-center">
          <span class="team-name" id="aName">Team A</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-xs-6">
        <div class="text-center">
          <span class="points" id="bPoints">0</span>
        </div>
        <div class="text-center">
          <span class="team-name" id="bName">Team B</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
